/* Imports */
@import "styles/globalMixins.scss";

/* Styles */
.component-box-lottery {
    position: relative;
    @include gridContainer(1fr, 0.5rem, 0.5rem);
    .component-box-lottery-label-container {
        @include flexCenterContainer;
        .component-box-lottery-number-container {
            @include setSize(40px, 40px);
            @include flexCenterContainer;
            @include circularShape;
            border: none;
            user-select: none;
            background-color: #ecc30b;
            .component-box-lottery-number {
                font-size: 1.5rem;
                color: #fafafa;
            }
        }
        .component-box-lottery-btn {
            @include setSize(40px, 40px);
            @include flexCenterContainer;
            @include circularShape;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            background-color: #ecc30b;
            cursor: pointer;
            transition: all 0.0.8s ease-in-out;
            &:hover {
                @include setSize(45px, 45px);
                background-color: #d6b10a;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            }
            .component-box-lottery-label {
                font-size: 1.5rem;
                color: #fafafa;
            }
        }
    }
    .component-box-lottery-image-container {
        .component-box-lottery-image {
            @include responsiveImage(contain);
            height: 90px;
        }
    }
    .component-box-lottery-title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        .component-box-lottery-title {
            color: #303030;
            font-weight: 700;
            font-size: 1rem;
        }
    }
}
